- name: Add system user agama
  user:
    name: agama

- name: Create directory /opt/agama to store application
  file:
    path: /opt/agama
    state: directory
    owner: agama

- name: Install application dependencies
  apt:
    update_cache: yes
    name: python3-flask-sqlalchemy

- name: Install agama application
  get_url:
    url: https://raw.githubusercontent.com/hudolejev/agama/master/agama.py
    dest: /opt/agama