- name: Install bind9
  apt:
    name: bind9

- name: Configure bind to start immediately and automatically on system boot
  service:
    name: bind9
    enabled: yes
    state: started

- name: Configure dns forwarders
  template:
    src: roles/bind/templates/named.conf.options
    dest: /etc/bind/named.conf.options
  notify:
    - Restart bind
  when: inventory_hostname in groups['dns_primaries']

- name: Configure master zone
  template:
    src: roles/bind/templates/db.hitec
    dest: /etc/bind/db.hitec
  notify:
    - Reload rndc
    - Restart bind
  when: inventory_hostname in groups['dns_primaries']